@keyframes a1move{
	 0% { transform:translate(-800px, 0px) }
	10% { transform:translate(-800px, 100px); color:orange; }
	20% { transform:translate(-800px, 200px);color:yellow; }
	30% { transform:translate(-800px, 300px);color:yellowgreen; }
	40% { transform:translate(-800px, 400px); color:green; }
	50% { transform:translate(-800px, 500px); color:blue; }
	60% { transform:translate(-800px, 400px); color:indigo; }
	70% { transform:translate(-800px, 300px) color:red; }
	80% { transform:translate(-800px, 200px) ; }
	90% { transform:translate(-800px, 100px) ;  }
	100% { transform:translate(-800px, 0px) ;  }
}


@keyframes y1move{
	 0% { transform:translate(-730px, -180px) }
	10% { transform:translate(-730px, -080px); color:orange; }
	20% { transform:translate(-730px, 20px);color:yellow; }
	30% { transform:translate(-730px, 120px);color:yellowgreen; }
	40% { transform:translate(-730px, 220px); color:green; }
	50% { transform:translate(-730px, 320px); color:blue; }
	60% { transform:translate(-730px, 220px); color:indigo; }
	70% { transform:translate(-730px, 120px) color:red; }
	80% { transform:translate(-730px, 20px) ; }
	90% { transform:translate(-730px, -80px) ;  }
	100% { transform:translate(-730px, -180px) ;  }
}

@keyframes o1move{
	0% { transform:translate(-800px, 0px) }
	10% { transform:translate(-800px, 100px); color:orange; }
	20% { transform:translate(-800px, 200px);color:yellow; }
	30% { transform:translate(-800px, 300px);color:yellowgreen; }
	40% { transform:translate(-800px, 400px); color:green; }
	50% { transform:translate(-800px, 500px); color:blue; }
	60% { transform:translate(-800px, 400px); color:indigo; }
	70% { transform:translate(-800px, 300px) color:red; }
	80% { transform:translate(-800px, 200px) ; }
	90% { transform:translate(-800px, 100px) ;  }
	100% { transform:translate(-800px, 0px) ;  }
}

@keyframes q1move{
	0% { transform:translate(-800px, 0px) }
	10% { transform:translate(-800px, 100px); color:orange; }
	20% { transform:translate(-800px, 200px);color:yellow; }
	30% { transform:translate(-800px, 300px);color:yellowgreen; }
	40% { transform:translate(-800px, 400px); color:green; }
	50% { transform:translate(-800px, 500px); color:blue; }
	60% { transform:translate(-800px, 400px); color:indigo; }
	70% { transform:translate(-800px, 300px) color:red; }
	80% { transform:translate(-800px, 200px) ; }
	90% { transform:translate(-800px, 100px) ;  }
	100% { transform:translate(-800px, 0px) ;  }
}

@keyframes q2move{
	0% { transform:translate(-800px, 0px) }
	10% { transform:translate(-800px, 100px); color:orange; }
	20% { transform:translate(-800px, 200px);color:yellow; }
	30% { transform:translate(-800px, 300px);color:yellowgreen; }
	40% { transform:translate(-800px, 400px); color:green; }
	50% { transform:translate(-800px, 500px); color:blue; }
	60% { transform:translate(-800px, 400px); color:indigo; }
	70% { transform:translate(-800px, 300px) color:red; }
	80% { transform:translate(-800px, 200px) ; }
	90% { transform:translate(-800px, 100px) ;  }
	100% { transform:translate(-800px, 0px) ;  }
}

@keyframes q3move{
	0% { transform:translate(-800px, 0px) }
	10% { transform:translate(-800px, 100px); color:orange; }
	20% { transform:translate(-800px, 200px);color:yellow; }
	30% { transform:translate(-800px, 300px);color:yellowgreen; }
	40% { transform:translate(-800px, 400px); color:green; }
	50% { transform:translate(-800px, 500px); color:blue; }
	60% { transform:translate(-800px, 400px); color:indigo; }
	70% { transform:translate(-800px, 300px) color:red; }
	80% { transform:translate(-800px, 200px) ; }
	90% { transform:translate(-800px, 100px) ;  }
	100% { transform:translate(-800px, 0px) ;  }
}

@keyframes q4move{
	0% { transform:translate(-800px, 0px) }
	10% { transform:translate(-800px, 100px); color:orange; }
	20% { transform:translate(-800px, 200px);color:yellow; }
	30% { transform:translate(-800px, 300px);color:yellowgreen; }
	40% { transform:translate(-800px, 400px); color:green; }
	50% { transform:translate(-800px, 500px); color:blue; }
	60% { transform:translate(-800px, 400px); color:indigo; }
	70% { transform:translate(-800px, 300px) color:red; }
	80% { transform:translate(-800px, 200px) ; }
	90% { transform:translate(-800px, 100px) ;  }
	100% { transform:translate(-800px, 0px) ;  }
}

@keyframes q5move{
	0% { transform:translate(-800px, 0px) }
	10% { transform:translate(-800px, 100px); color:orange; }
	20% { transform:translate(-800px, 200px);color:yellow; }
	30% { transform:translate(-800px, 300px);color:yellowgreen; }
	40% { transform:translate(-800px, 400px); color:green; }
	50% { transform:translate(-800px, 500px); color:blue; }
	60% { transform:translate(-800px, 400px); color:indigo; }
	70% { transform:translate(-800px, 300px) color:red; }
	80% { transform:translate(-800px, 200px) ; }
	90% { transform:translate(-800px, 100px) ;  }
	100% { transform:translate(-800px, 0px) ;  }
}

@keyframes q6move{
	0% { transform:translate(-800px, 0px) }
	10% { transform:translate(-800px, 100px); color:orange; }
	20% { transform:translate(-800px, 200px);color:yellow; }
	30% { transform:translate(-800px, 300px);color:yellowgreen; }
	40% { transform:translate(-800px, 400px); color:green; }
	50% { transform:translate(-800px, 500px); color:blue; }
	60% { transform:translate(-800px, 400px); color:indigo; }
	70% { transform:translate(-800px, 300px) color:red; }
	80% { transform:translate(-800px, 200px) ; }
	90% { transform:translate(-800px, 100px) ;  }
	100% { transform:translate(-800px, 0px) ;  }
}

@keyframes q7move{
	0% { transform:translate(-800px, 0px) }
	10% { transform:translate(-800px, 100px); color:orange; }
	20% { transform:translate(-800px, 200px);color:yellow; }
	30% { transform:translate(-800px, 300px);color:yellowgreen; }
	40% { transform:translate(-800px, 400px); color:green; }
	50% { transform:translate(-800px, 500px); color:blue; }
	60% { transform:translate(-800px, 400px); color:indigo; }
	70% { transform:translate(-800px, 300px) color:red; }
	80% { transform:translate(-800px, 200px) ; }
	90% { transform:translate(-800px, 100px) ;  }
	100% { transform:translate(-800px, 0px) ;  }
}

@keyframes q8move{
	0% { transform:translate(-800px, 0px) }
	10% { transform:translate(-800px, 100px); color:orange; }
	20% { transform:translate(-800px, 200px);color:yellow; }
	30% { transform:translate(-800px, 300px);color:yellowgreen; }
	40% { transform:translate(-800px, 400px); color:green; }
	50% { transform:translate(-800px, 500px); color:blue; }
	60% { transform:translate(-800px, 400px); color:indigo; }
	70% { transform:translate(-800px, 300px) color:red; }
	80% { transform:translate(-800px, 200px) ; }
	90% { transform:translate(-800px, 100px) ;  }
	100% { transform:translate(-800px, 0px) ;  }
}

@keyframes q9move{
	0% { transform:translate(-800px, 0px) }
	10% { transform:translate(-800px, 100px); color:orange; }
	20% { transform:translate(-800px, 200px);color:yellow; }
	30% { transform:translate(-800px, 300px);color:yellowgreen; }
	40% { transform:translate(-800px, 400px); color:green; }
	50% { transform:translate(-800px, 500px); color:blue; }
	60% { transform:translate(-800px, 400px); color:indigo; }
	70% { transform:translate(-800px, 300px) color:red; }
	80% { transform:translate(-800px, 200px) ; }
	90% { transform:translate(-800px, 100px) ;  }
	100% { transform:translate(-800px, 0px) ;  }
}

#a1{
	animation-name: a1move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

#y1{
	animation-name: y1move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

#o1{
	animation-name: o1move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

#q1{
	animation-name: q1move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

#q2{
	animation-name: q2move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

#q3{
	animation-name: q3move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

#q4{
	animation-name: q4move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

#q5{
	animation-name: q5move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

#q6{
	animation-name: q6move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

#q7{
	animation-name: q7move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

#q8{
	animation-name: q8move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

#q9{
	animation-name: q9move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

.big{
	font-size: 100px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	color:white;
	outline:black;
	overflow:active;
	text-align:center;
}