@keyframes bigger{
	 0%  {transform:scale(1,1);color:white;}
	25%  {transform:scale(2,2);color:red;}
	50%  {transform:scale(3,3);color:white;}
	75% {transform:scale(2,2);color:red;}
	100% {transform:scale(1,1);color:white;}
}

.biggerShit{
	animation-name: bigger;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	font-size: 100px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	animation-timing-function: linear;
	color:white;
	outline:black;
	text-align:center;
	overflow:active;
}