@keyframes bigger{
	 0%  {transform:scale(1,1) rotate(0deg);color:#f7f19c;}
	25%  {transform:scale(5,5)rotate(60deg);color:#fff466;}
	50%  {transform:scale(9,9)rotate(-60deg);color:#fceb05;}
	75% {transform:scale(5,5)rotate(60deg);color:#fff466;}
	100% {transform:scale(1,1) rotate(0deg);color:#f7f19c;}
}

@keyframes biggerWhite{
	 0%  {transform:scale(1,1) rotate(0deg);color:white;}
	25%  {transform:scale(5,5)rotate(60deg);color:white;}
	50%  {transform:scale(9,9)rotate(-60deg);color:white;}
	75% {transform:scale(5,5)rotate(60deg);color:white;}
	100% {transform:scale(1,1) rotate(0deg);color:white;}
}

.biggerShit{
	animation-name: bigger;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	font-size: 100px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	animation-timing-function: linear;
	color:white;
	outline:black;
	text-align:center;
	overflow:active;
	align: center;
}

.biggerWhiteShit{
	animation-name: biggerWhite;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	font-size: 100px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	animation-timing-function: linear;
	color:white;
	outline:black;
	text-align:center;
	overflow:active;
	align: center;
}