@keyframes a1move{
	 0% { transform:translate(-600px, 0px) scale(1,1); }
	10% { transform:translate(-800px, 100px) scale(2,2) rotate(90deg);color:orange; }
	20% { transform:translate(200px, 600px)scale(3,3) rotate(-90deg);color:yellow; }
	30% { transform:translate(-100px, 800px) scale(2,2)rotate(180deg);color:yellowgreen; }
	40% { transform:translate(400px, -100px) scale(1,1); rotate(-72deg)color:green; }
	50% { transform:translate(700px, 700px) scale(0.75,0.75); rotate(34deg)color:blue; }
	60% { transform:translate(800px, 230px)scale(0.5,0.5); rotate(-242deg)color:indigo; }
	70% { transform:translate(-300px, 100px) scale(0.25,0.25); rotate(200deg) }
	80% { transform:translate(-560px, 900px) scale(0.5,1); rotate(-230deg) }
	90% { transform:translate(-600px, 0px) scale(1,1); rotate(0deg) }
	100% { transform:translate(-600px, 0px) scale(1,1); rotate(0deg) }
}


@keyframes y1move{
	 0% { transform:translate(-500px, -240px) scale(1,1) skewY(40deg); }
	10% { transform:translate(-600px, 300px) scale(4,4) skewY(-20deg);color:orange; }
	20% { transform:translate(-700px, 100px)scale(7,7) skewY(30deg);color:yellow; }
	30% { transform:translate(600px, 200px) scale(0.5,0.5) skewY(-40deg);color:yellowgreen; }
	40% { transform:translate(400px, 300px) scale(1,1) skewY(60deg);color:green; }
	50% { transform:translate(500px, -100px) scale(3,3) skewY(-10deg);color:blue; }
	60% { transform:translate(-150px, 130px)scale(0.5,0.5) skewY(40deg);color:indigo; }
	70% { transform:translate(-700px, 500px) scale(0.25,0.25) skewY(-70deg); }
	80% { transform:translate(-200px, -160px) scale(1,1) skewY(67deg); }
	90% { transform:translate(-500px, -240px)  scale(1,1) skewY(0deg); } 
	100% { transform:translate(-500px, -240px) scale(1,1) skewY(0deg); }
}

@keyframes o1move{
	 0% { transform:translate(-400px, -475px) scale(1,1);}
	10% { transform:translate(300px, 100px) scale(2,2);color:orange; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: blue;}
	20% { transform:translate(800px,0px)scale(3,3);color:yellow; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: purple; }
	30% { transform:translate(-800px, 400px) scale(2,2);color:yellowgreen; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: pink; }
	40% { transform:translate(700px, -800px) scale(6,6);color:green; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: red;}
	50% { transform:translate(500px, -100px) scale(0.75,0.75);color:blue; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: orange;}
	60% { transform:translate(-800px, -600px)scale(0.5,0.5);color:indigo;-webkit-text-stroke-width: 2px; -webkit-text-stroke-color: white; }
	70% { transform:translate(400px, -200px) scale(0.25,0.25); color:purple; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: yellow;}
	80% { transform:translate(-200px, 100px)scale(0.5,0.5); -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: gray;}
	90% { transform:translate(-400px, -475px) scale(1,1); } 
	100% { transform:translate(-400px, -475px) scale(1,1); }
}

@keyframes q1move{
	 0% { transform:translate(-300px, -710px) scale(1,1);}
	10% { transform:translate(800px, -800px) scale(2,2);color:orange; font-family:"Goudy Stout";}
	20% { transform:translate(-200px, 0px)scale(4,3);color:yellow;font-family:"Snap ITC"; }
	30% { transform:translate(300px, 100px) scale(2,6);color:yellowgreen;font-family:"Jokerman"; }
	40% { transform:translate(-500px, -300px) scale(2,1);color:green;font-family:"Playbill"; }
	50% { transform:translate(400px, 300px) scale(4,2);color:blue; font-family:"Crafter";}
	60% { transform:translate(-400px, -600px)scale(4,2);color:indigo;font-family:"Onyx"; }
	70% { transform:translate(200px, -200px) scale(3,2);font-family:"Vladimir Script"; }
	80% { transform:translate(700px, -600px)scale(11,2);font-family:"Monotype Corsiva"; }
	90% { transform:translate(-300px, -710px) scale(1,1);}
	100% { transform:translate(-300px, -710px) scale(1,1);}
}

@keyframes q2move{
	 0% { transform:translate(-200px, -947px) rotate(0deg) scale(1,1);}
	10% { transform:translate(-200px, -700px) rotate(90deg) scale(2,2);color:orange; }
	20% { transform:translate(300px, -500px) rotate(180deg) scale(11,11);color:yellow; }
	30% { transform:translate(400px, -300px) rotate(270deg) scale(11,11);color:yellowgreen; }
	40% { transform:translate(500px, -200px) rotate(0deg) scale(1,1);color:green; }
	50% { transform:translate(400px, -100px) rotate(90deg) scale(0.75,0.75);color:blue; }
	60% { transform:translate(-200px, -100px) rotate(180deg)scale(11,11);color:indigo; }
	70% { transform:translate(-300px, -100px) rotate(270deg) scale(11,11); }
	80% { transform:translate(-400px, -100px) scale(11,11); }
	90% { transform:translate(-200px, -947px) scale(1,1); }
	100% { transform:translate(-200px, -947px) scale(1,1); }
}

@keyframes q3move{
	 0% { transform:translate(-100px, -1185px) scale(1,1); }
	10% { transform:translate(450px, -1185px) scale(2,2);color:orange; }
	20% { transform:translate(800px, -1185px)scale(3,3);color:yellow; }
	30% { transform:translate(800px, -900px) scale(2,2);color:yellowgreen; }
	40% { transform:translate(800px, -400px) scale(1,1);color:green; }
	50% { transform:translate(650px, -400px) scale(0.75,0.75);color:blue; }
	60% { transform:translate(450px, -400px)scale(0.5,0.5);color:indigo; }
	70% { transform:translate(-100px, -400px) scale(0.25,0.25); }
	80% { transform:translate(-100px, -900px)scale(0.5,0.5); }
	90% { transform:translate(-100px, -1185px) scale(1,1); }
	100% { transform:translate(-100px, -1185px) scale(1,1); }
}

@keyframes q4move{
	 0% { transform:translate(0px, -1422px) scale(1,1); }
	10% { transform:translate(150px, -1322px) scale(0.5,0.5);opacity: 0.85;color:orange; }
	20% { transform:translate(430px, -1222px)scale(0.25,0.25); opacity: 0.75;color:yellow; }
	30% { transform:translate(-500px, -1122px) scale(0.3,0.3); opacity: 0.65;color:yellowgreen; }
	40% { transform:translate(200px, -1022px) scale(0.4,0.4); opacity: 0.55;color:green; }
	50% { transform:translate(-300px, -922px) scale(0.65,0.65); orange;opacity: 0.45;color:blue; }
	60% { transform:translate(400px, -822px)scale(0.5,0.5); opacity: 0.35;color:indigo; }
	70% { transform:translate(-300px, -722px) scale(0.25,0.25); opacity: 0.25; }
	80% { transform:translate(100px, -622px)scale(0.5,0.5); }
	90% { transform:translate(0px, -1422px) scale(1,1); } 
	100% { transform:translate(0px, -1422px) scale(1,1); }
}

@keyframes q5move{
	 0% { transform:translate(100px, -1657px) scale(1,1); }
	10% { transform:translate(-300px, -857px) scale(2,2) skew(23deg,23deg);color:orange; }
	20% { transform:translate(245px, -1000px)scale(8,2) skew(-11deg,-9deg);color:yellow; }
	30% { transform:translate(-200px, -1557px) scale(4,2) skew(11deg,-10deg);color:yellowgreen; }
	40% { transform:translate(300px, -900px) scale(5,1) skew(-4deg,-4deg);color:green; }
	50% { transform:translate(200px, -1200px) scale(0.75,1) skew(9deg,4deg);color:blue; }
	60% { transform:translate(250px, -1400px)scale(0.5,0.25) skew(-5deg,6deg);color:indigo; }
	70% { transform:translate(200px, -800px) scale(0.75,0.25 skew(4deg,8deg)); }
	80% { transform:translate(150px, -1300px)scale(0.5,0.75) skew(-2deg,9deg); }
	90% { transform:translate(100px, -1657px) scale(1,1) ; }
	100% { transform:translate(100px, -1657px) scale(1,1); }
}

@keyframes q6move{
	 0% { transform:translate(200px, -1897px) scale(1,1); }
	10% { transform:translate(800px, -1097px) scale(7,0.25); rotate(33deg);color:orange; }
	20% { transform:translate(100px, -1397px)scale(0.43,4);rotate(-53deg);color:yellow; }
	30% { transform:translate(300px, -1297px) scale(0.8,7);rotate(23deg);color:yellowgreen; }
	40% { transform:translate(150px, -1597px) scale(6,9);rotate(-63deg);color:green; }
	50% { transform:translate(700px, -1797px) scale(0.75,1);rotate(43deg);color:blue; }
	60% { transform:translate(125px, -1197px)scale(2,0.5);rotate(-63deg);color:indigo; }
	70% { transform:translate(650px, -1397px) scale(0.25,0.25);rotate(23deg); }
	80% { transform:translate(450px, -1797px)scale(5,0.75);rotate(-63sdeg); }
	90% { transform:translate(200px, -1897px) scale(1,1); }
	100% { transform:translate(200px, -1897px) scale(1,1); }
}

@keyframes q7move{
	 0% { transform:translate(300px, -2137px) scale(1,1);}
	10% { transform:translate(100px, -1337px) scale(4,9);color:orange; border-color: red; border-style: solid;}
	20% { transform:translate(-100px, -1437px)scale(5,3);color:yellow;border-color: orange; border-style: dotted;}
	30% { transform:translate(200px, -2000px) scale(1,8);color:yellowgreen;border-color: yellow; border-style: dashed; }
	40% { transform:translate(150px, -1537px) scale(4,0.2);color:green;border-color: green; border-style: double; }
	50% { transform:translate(-150px, -1937px) scale(0.7,0.75);color:blue;border-color: blue; border-style: groove; }
	60% { transform:translate(-200px, -1637px)scale(0.2,0.5);color:indigo;border-color: purple; border-style: ridge; }
	70% { transform:translate(123px, -2100px) scale(0.5,0.25);border-color: indigo; border-style: dotted; }
	80% { transform:translate(234px, -1400px)scale(0.7,0.5);border-color: pink; border-style: solid; }
	90% { transform:translate(300px, -2137px) scale(1,1); }
	100% { transform:translate(300px, -2137px) scale(1,1); }
}

@keyframes q8move{
	 0% { transform:translate(400px, -2371px) scale(1,1); }
	10% { transform:translate(100px, -1571px) scale(0.1,7);color:orange; }
	20% { transform:translate(250px, -2171px)scale(2,0.2);color:yellow; }
	30% { transform:translate(600px, -1671px) scale(7,0.5);color:yellowgreen; }
	40% { transform:translate(150px, -1971px) scale(0.2,9);color:green; }
	50% { transform:translate(267px, -2271px) scale(19,0.15);color:blue; }
	60% { transform:translate(345px, -1871px)scale(4,0.28);color:indigo; }
	70% { transform:translate(423px, -2000px) scale(0.1,15); }
	80% { transform:translate(322px, -2071px)scale(9,0.5); }
	90% { transform:translate(400px, -2371px) scale(1,1); }
	100% { transform:translate(400px, -2371px) scale(1,1); }
}

@keyframes q9move{
	 0% { transform:translate(500px, -2610px) scale(1,1); }
	10% { transform:translate(100px, -1810px) scale(2,2) skew(-12deg,15deg); color:orange; }
	20% { transform:translate(150px, -2400px)scale(3,3) skew(12deg,-15deg);color:yellow; }
	30% { transform:translate(400px, -1963px) scale(2,2) skew(-12deg,25deg);color:yellowgreen; }
	40% { transform:translate(200px, -2555px) scale(1,1) skew(-22deg,10deg);color:green; }
	50% { transform:translate(350px, -1900px) scale(0.75,0.75) skew(-15deg,15deg);color:blue; }
	60% { transform:translate(167px, -2544px)scale(0.5,0.5) skew(-18deg,65deg);color:indigo; }
	70% { transform:translate(221px, -2005px) scale(0.25,0.25) skew(-24deg,15deg); }
	80% { transform:translate(321px, -1810px)scale(0.5,0.5) skew(-12deg,67deg); }
	90% { transform:translate(500px, -2610px) scale(1,1) ; }
	100% { transform:translate(500px, -2610px) scale(1,1); }
}

#a1{
	animation-name: a1move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

#y1{
	animation-name: y1move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

#o1{
	animation-name: o1move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

#q1{
	animation-name: q1move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

#q2{
	animation-name: q2move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

#q3{
	animation-name: q3move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

#q4{
	animation-name: q4move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

#q5{
	animation-name: q5move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

#q6{
	animation-name: q6move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

#q7{
	animation-name: q7move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

#q8{
	animation-name: q8move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

#q9{
	animation-name: q9move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

.big{
	font-size: 100px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	color:white;
	outline:black;
	overflow:active;
	text-align:center;
}