@keyframes pain{
	0%  {transform:skewY(0deg) skewX(0deg) translate(0px, 0px) rotateY(0deg);color:ORANGE;}
	5%  {transform:skewY(40deg) skewX(5deg) translate(60px, 100px) rotateY(0deg);color:white;}
	10%  {transform: skewY(80deg) skewX(10deg) translate(120px, 200px) rotateY(0deg);color:white;}
	15%  {transform: skewY(120deg) skewX(15deg) translate(180px, 300px) rotateY(0deg);color:white;}
	20%  {transform: skewY(160deg) skewX(20deg) translate(240px, 400px) rotateY(0deg);color:white;}
	 
	25%  {transform: skewY(160deg) skewX(25deg) translate(300px, 400px) rotateY(0deg);color:white;}
	30%  {transform:  skewY(120deg) skewX(30deg) translate(240px, 300px) rotateY(0deg);color:white;}
	35%  {transform:  skewY(80deg) skewX(35deg) translate(180px, 200px) rotateY(0deg);color:white;}
	40%  {transform:  skewY(40deg) skewX(80deg) translate(60px, 100px) rotateY(0deg);color:white;}
	45%  {transform:  skewY(0deg) skewX(90deg) translate(0px, 0px) rotateY(0deg);color:orange;}
	
	50%  {transform:  skewY(0deg) skewX(90deg) translate(0px, 0px) rotateY(0deg);color:orange;}
	55%  {transform:  skewY(-40deg) skewX(80deg) translate(-60px, 100px) rotateY(0deg);color:orange;}
	60%  {transform:  skewY(-80deg) skewX(70deg) translate(-120px, 200px) rotateY(0deg);color:orange;}
	65%  {transform:  skewY(-120deg) skewX(60deg) translate(-180px, 300px) rotateY(0deg);color:orange;}
	70%  {transform:  skewY(-160deg) skewX(50deg) translate(-240px, 400px) rotateY(0deg);color:orange;}
	
	75%  {transform:  skewY(-160deg) skewX(40deg) translate(-300px, 400px) rotateY(0deg);color:orange;}
	80%  {transform:  skewY(-120deg) skewX(30deg) translate(-240px, 300px) rotateY(0deg);color:orange;}
	85%  {transform:  skewY(-80deg) skewX(20deg) translate(-180px, 200px) rotateY(0deg);color:orange;}
	90%  {transform:  skewY(-40deg) skewX(10deg) translate(-60px, 100px) rotateY(0deg);color:orange;}
	95%  {transform:  skewY(0deg) skewX(0deg) translate(0px, 0px) rotateY(0deg);color:orange;}
	
	100% {transform:skewY(0deg) skewX(0deg) translate(0px, 0px) rotateY(0deg);color:ORANGE;}
}

.painPeko{
	animation-name: pain;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	font-size: 200px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	animation-timing-function: linear;
	color:white;
	outline:black;
	overflow:active;
	text-align:center;
}

body {
  background-color: #333;
  font-family: 'Luckiest Guy', cursive;
  font-size: 35px;
}

path {
  fill: transparent;
}

text {
  fill: #FF9800;
}