@keyframes pain{
	0%  {transform:skewY(0deg) rotate(0deg) translate(0px, -200px) ;color:ORANGE;}
	5%  {transform:skewY(10deg) skewX(0deg) translate(90px, -100px) ;color:white;}
	10%  {transform: skewY(20deg) skewX(0deg) translate(180px, 0px) ;color:orange;}
	15%  {transform: skewY(30deg) skewX(0deg)) translate(270px, 100px) ;color:white;}
	20%  {transform: skewY(40deg) skewX(0deg) translate(360px, 200px) ;color:orange;}
	 
	25%  {transform: skewY(50deg) skewX(0deg) translate(450px, 200px) ;color:white;}
	30%  {transform:  skewY(40deg) skewX(0deg) translate(240px, 100px) ;color:orange;}
	35%  {transform:  skewY(30deg) skewX(0deg) translate(180px, 0px) ;color:white;}
	40%  {transform:  skewY(20deg) skewX(0deg) translate(60px, -100px) ;color:orange;}
	45%  {transform:  skewY(10deg) skewX(0deg) translate(0px, -200px) ;color:white;}
	
	50%  {transform:  skewY(0deg) skewX(0deg) translate(0px, -200px) ;color:orange;}
	55%  {transform:  skewY(-10deg) skewX(0deg) translate(-60px, -100px) ;color:white;}
	60%  {transform:  skewY(-20deg) skewX(0deg) translate(-120px, 0px) ;color:orange;}
	65%  {transform:  skewY(-30deg) skewX(0deg) translate(-180px, 100px) ;color:white;}
	70%  {transform:  skewY(-40deg) skewX(0deg) translate(-240px, 200px) ;color:orange;}
	
	75%  {transform:  skewY(-50deg) skewX(0deg) translate(-300px, 200px) rotateY(0deg);color:white;}
	80%  {transform:  skewY(-40deg) skewX(0deg) translate(-240px, 100px) rotateY(0deg);color:orange;}
	85%  {transform:  skewY(-30deg) skewX(0deg) translate(-180px, 0px) rotateY(0deg);color:white;}
	90%  {transform:  skewY(-20deg) skewX(0deg) translate(-60px, -100px) rotateY(0deg);color:orange;}
	95%  {transform:  skewY(-10deg) skewX(0deg) translate(0px, -200px) rotateY(0deg);color:white;}
	
	100% {transform:skewY(0deg) skewX(0deg) translate(0px, -200px) rotateY(0deg);color:ORANGE;}
}

.painPeko{
	animation-name: pain;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	font-size: 200px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	animation-timing-function: linear;
	color:white;
	outline:black;
	overflow:active;
	text-align:center;
}

body {
  background-color: #333;
  font-family: 'Luckiest Guy', cursive;
  font-size: 35px;
}

path {
  fill: transparent;
}

text {
  fill: #FF9800;
}