@keyframes hap{
	 0% { transform: translate(4px, 4px) rotate(0deg);color:red; }
	10% { transform: translate(-3px, -6px) rotate(-4deg);color:orange; }
	20% { transform: translate(-5px, 6px) rotate(2deg);color:yellow; }
	30% { transform: translate(3px, 2px) rotate(-10deg);color:yellowgreen; }
	40% { transform: translate(5px, -9px) rotate(23deg);color:green; }
	50% { transform: translate(-10px, 5px) rotate(-5deg);color:blue; }
	60% { transform: translate(-12px, 9px) rotate(15deg);color:indigo; }
	70% { transform: translate(12px, 10px) rotate(-15deg); }
	80% { transform: translate(-21px, -5px) rotate(8deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.happy{
	animation-name: hap;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	font-size: 100px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	animation-timing-function: linear;
	color:white;
	outline:black;
	overflow:active;
	text-align:center;
	margin:auto;
	vertical-align;center;
	padding-top:200px;
}